
body{

    background-color: black;
    color: aliceblue;
    margin: 0px;
}

.menu{
    /* border: 10px; */
    /* border-color: ;
    border-style: ; */
    border-bottom: 10px solid bisque;

}