*{
    box-sizing: border-box;

    margin: 0;
    padding: 0;

    
    
}   

header{
    top:0;
}

body{
    min-height: 100vw;
}



#menu{

    position:sticky;
    width: 100%;
    border: 1vh, solid, black;
    top: 0px;
}

#menuItem{
    display:flex;

    gap: 7%;

    color: white;
    background-color: black;
    
    list-style: none    ;
}

#ola{
    display: grid;


    

}